* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--text-color: #fff;
	--bg-color: #000;
	--bg-image: url(/assets/images/lights-bg.webp) center/cover;
	--bg-overlay: rgba(0, 0, 0, 0.5);
	--transparence-1: hsla(0, 0%, 100%, 0.1);
	--transparence-2: hsla(0, 0%, 100%, 0.2);
	--transparence-3: hsla(0, 0%, 100%, 0.3);
	--accent: hsl(216.5, 85.1%, 39.4%);

	--font-size-xs: 0.75rem;
	--font-size-sm: 0.875rem;
	--font-size-base: 1rem;
	--font-size-lg: 1.125rem;
	--font-size-xl: 1.25rem;
	--font-size-2xl: 1.5rem;
	--font-size-3xl: 1.875rem;
	--font-size-4xl: 2.25rem;

	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;

	--line-height-base: 1.5;
	--line-height-heading: 1.2;

	--space-xxs: 0.25rem;
	--space-xs: 0.5rem;
	--space-sm: 0.75rem;
	--space-md: 1rem;
	--space-lg: 1.5rem;
	--space-xl: 2rem;
	--space-2xl: 3rem;
	--space-3xl: 4rem;

	--border-radius-sm: 0.25rem;
	--border-radius-md: 0.5rem;
	--border-radius-lg: 0.75rem;
	--border-radius-xl: 1rem;
	--border-radius-full: 50%;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: var(--font-size-base);
	color: var(--text-color);
	background: var(--bg-image);
	height: 100vh;
	z-index: 1;
	position: relative;
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: var(--bg-overlay);
	z-index: 2;
}

header,
main,
footer {
	position: relative;
	z-index: 3;
}

header {
	text-align: center;
}

#top-bar {
	display: flex;
	/* flex-direction: column; */
	justify-content: space-between;
	align-items: center;
	/* gap: var(--space-xs); */
	padding: var(--space-md);
	backdrop-filter: blur(15px);
}

#top-bar .icon {
	width: var(--font-size-3xl);
	/* height: ; */
	/* background-color: var(--text-color); */
	border-radius: var(--border-radius-full);
	/* fill: var(--text-color); */
	fill: var(--transparence-3);
	/* padding: var(--space-sm); */
}

#availability-status {
	border-radius: var(--border-radius-xl);
	border: 1px solid var(--transparence-2);
	padding: var(--space-xs) var(--space-md);
}

#availability-status::before {
	content: "";
	width: var(--font-size-xs);
	height: var(--font-size-xs);
	display: inline-block;
	background-color: green;
	border-radius: var(--border-radius-full);
	margin-right: var(--space-xs);
	box-shadow: 0 0 10px green;
}

#hero-section {
	margin: 1.5rem 0;
}

#avatar {
	width: 15rem;
	height: 15rem;
	border-radius: var(--border-radius-full);
	border: 4px solid var(--transparence-2);
}

#hero-section .titles {
	margin: var(--space-2xl) 0;
}

#hero-section h1 {
	font-size: var(--font-size-4xl);
	text-shadow: 0 0 5px var(--transparence-3), 0 0 10px var(--accent);
	position: relative;
	margin-bottom: var(--space-md);
}

#hero-section h1::after {
	content: "";
	width: 30%;
	height: 2px;
	background: var(--text-color);
	position: absolute;
	bottom: -0.5rem;
	left: 50%;
	transform: translateX(-50%);
}

#hero-section h2 {
	font-size: var(--font-size-xl);
	letter-spacing: var(--space-xxs);
	font-style: italic;
}

#hero-section .buttons a {
	text-decoration: none;
	color: var(--text-color);
	border-radius: var(--border-radius-lg);
	border: 1px solid var(--transparence-2);
	margin: var(--space-xxs);
	padding: var(--space-sm) var(--space-lg);
}

#hero-section .buttons a:first-child {
	background-color: var(--accent);
}
